<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SelenideAutoTests" verbose="1">

    <listeners>
        <listener class-name="A_BaseTestListener"/>
    </listeners>

<!--    <test name="Tests">-->
<!--        <classes>-->
<!--            <class name="ExampleTest" />-->
<!--        </classes>-->
<!--    </test>-->

    <test name="tests with maxPrice = 5000">
        <parameter name="maxPrice" value="5000" />
        <classes>
            <class name="ExampleTest"/>
        </classes>
    </test>


<!--    <test name="tests with maxPrice = 10000">-->
<!--        <parameter name="maxPrice" value="10000" />-->
<!--        <classes>-->
<!--            <class name="ExampleTest"/>-->
<!--        </classes>-->
<!--    </test>-->

</suite>
